<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Oving 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>oppg1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>oppg1b.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>oppg1d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>oppg2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F70361C71885D336005E0D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70361DC1885D929005E0D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74326E41885C88000E498B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74326F41885C8B300E498B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74327041885C8F600E498B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
